<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings configSource="A_Configs/ConnectionStrings.config"/>-->
  <appSettings>
    <add key ="RequestConfigFile" value ="C:\Users\Khalil\Downloads\c-sharp-dynamic-fundamentals\2-c-sharp-dynamic-fundamentals-m02-exercise-files\after\DynamicSQLData\Client\A_Configs\requestConfigFile.json"/>
  </appSettings>
</configuration>